/* Home page start here  */
/* extra small device  */
@media (min-width: 320px) and (max-width: 575.98px) {
/* Navbar part start here  */
.top_header_left{
    display: block;
    font-size: 11px;
}
.travel_info{
    width: 164px;
}
.login {
    font-size: 11px;
    padding-left: 0;
}
.register {
    font-size: 11px;
    padding-left: 0;
}
.divider {
	padding: 0 0;
}
.user_social{
    display: none;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::after {
	 background: transparent; 
	 width: 0; 
}
.jobs button{
    padding: 0;
}
.top_btn a {
	padding: 5px 5px;
	font-size: 11px;
}
/* Navbar part end here  */
/* Banner part start here  */
.banner_overlay{
    padding: 50px 0;
}
.banner_text h1 {
	font-size: 35px;
	line-height: 47.26px;
}
.banner_text p {
	width: 284px;
	font-size: 11px;
	line-height: 20.8px;
}
.round_btn {
	width: 44px;
	height: 44px;
	margin-top: 16px;
}
.round_btn a {
	margin-top: 12px;
}

/* Banner part end here  */
/* Service part end here  */
.servicess {
	padding: 59px 0;
}
.service_text_part h2 {
	font-weight: 500;
	font-size: 27px;
	line-height: 32.26px;
}
.service_text_part p {
	font-size: 13px;
	line-height: 25.26px;
}
.service_item p {
	font-size: 12px;
}
/* Service part end here  */
/* explore part end here  */
.explore_item {
	width: 100%;
	padding: 10px;
}
.explore_text h2 {
	font-size: 32px;
	line-height: 57.26px;
}
.explore_text p {
	font-size: 12px;
	line-height: 22.26px;
	width: 259px;
}
.explore_image {
	top: 608px;
}
.explore_image img {
	width: 100%;
}
/* explore part end here  */
/* testimonial part start here  */
.testimonial {
	margin-top: 500px;
	padding: 60px 0;
}
.textimonial_items {
	width: 293px;
	height: 283px;
}
.testimonial_item_text {
	padding-top: 24px;
	padding-left: 17%;
}
.testimonial_item_name h3 {
	font-size: 14px;
	line-height: 3.26px;
}
.testimonial_item_name h6 {
	font-size: 10px;
	line-height: 12.26px;
	padding-top: 7px;
}
.testimonial_item_name img{
	display: none;
}
.textimonial_items_back {
	top: 16%;
	left: 21%;
	width: 224px;
	height: 238px;
}
.testimonial_item_text p {
	font-size: 12px;
	line-height: 15.26px;
	font-style: italic;
	padding-top: 2px;
}
.textimonial_item_img {
	left: -5%;
	width: 90px;
	height: 90px;
}
.textimonial_item_img_circle {
	width: 75px;
	height: 75px;
}
.explore {
	padding: 40px 0 135px 0;
}
.testimonial_head h2 {
	font-size: 27px;
	line-height: 29.26px;
}
/* testimonial part end here  */
/* Adventurer part start here  */
.adventure {
	padding: 60px 0;
}
.adventure_part h3 {
	font-size: 17px;
	line-height: 24.26px;
}
.adventure_part p {
	font-size: 12px;
	padding: 10px 0;
}
.date {
	right: 70px;
}
.adventure_item h3 {
	font-size: 18px;
	line-height: 25.26px;
	padding-top: 25px;
	padding-bottom: 0px;
}
.adventure_last_btn a {
	margin-top: 0;
}
/* Adventurer part end here  */
/* connect part start here  */
.connect{
	padding: 60px 0;
}
.connect_part h2 {
	font-size: 28px;
	line-height: 33.26px;
	margin-top: 0;
}
.connect_part p {
	font-size: 13px;
	line-height: 18.26px;
	padding-top: 32px;
}
.top_btn a {
	margin-bottom: 20px;
}
.form {
	width: 320px;
	top: -20;
	left: 50%;
	padding: 20px 20px;
	height: 628px;
	transform: translate(-50%);
}
.form_img {
	display: none;
}
.form h3 {
	font-size: 23px;
	line-height: 28.26px;
}
/* connect part end here  */
/* highlisht part start here  */
.highlisht{
	margin-top: 480px;
}
.highlisht_part h3 {
	font-weight: 500;
	font-size: 19px;
	line-height: 28.26px;
}
.highlisht_part p {
	font-size: 16px;
	line-height: 20.26px;
	margin-top: 0px;
	padding-left: 3px;
}
.highlight_video {
	width: 100%;
}
/* highlisht part end here  */
/* clients part start here  */
.clients {
	padding: 60px 0;
}
.clients_text h2 {
	font-size: 24px;
	line-height: 32.26px;
}
.clients_text p {
	font-size: 14px;
	line-height: 22.26px;
}
.client_items_part {
	flex-direction: column;
}
.client_item {
	margin: 10px 0;
}
.footer_second h3 {
	padding-bottom: 5px;
	margin-top: 40px;
}
/* clients part end here  */
	
/* ======================  Blog page start here ================================== */
.blog_viktor{
	display: none;
}
.blog_viktor_two{
	display: none;
}
.category {
	padding: 44px 0;
}
.blog_category_text h4 {
	font-size: 12px;
	line-height: 13px;
}
.arrival {
	font-size: 12px;
	padding-top: 2px;
}
.blog_category_text h4::after {
	width: 144px;
	height: 1px;
	top: 20px;
}
.arrival::after {
	top: 38px;
}
.blog_category_text h5 {
	font-size: 12px;
	line-height: 15px;
}
.blog_link_img a {
	font-size: 12px;
	padding: 4px 6px;
}
/* ======================  Blog page end here ================================== */
/* ======================  Registration page start here ================================== */
.registration_part h3 {
	font-size: 32px;
}
.registration_part h3::after {
	display: none;
}
.registration_part h2::after {
	display: none;
}
/* ======================  Registration page end here ================================== */
}


/* ======================  Home page end here ================================== */


/*  small device  */
@media (min-width:576px) and (max-width: 767.98px){
/* Navbar part start here  */
.top_header_left{
    display: block;
    font-size: 11px;
}
.travel_info {
	padding-right: 0px;
}
.travel_info{
    width: 164px;
}
.login {
    font-size: 11px;
    padding-left: 0;
}
.register {
    font-size: 11px;
    padding-left: 0;
}
.divider {
	padding: 0 0;
}
.user_social{
    display: none;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::after {
	 background: transparent; 
	 width: 0; 
}
.jobs button{
    padding: 0;
}
.top_btn a {
	padding: 5px 5px;
	font-size: 11px;
}
/* Navbar part end here  */
/* Bannar  part start here  */
.banner_overlay{
	padding: 100px 0;
}
.banner_text h1 {
	font-weight: 500;
	font-size: 54px;
	line-height: 51.26px;
}
.banner_text p {
	font-size: 16px;
	line-height: 21.8px;
	width: 400px;
	padding-top: 10px;
}
.round_btn {
	width: 35px;
	height: 35px;
	margin-top: 19px;
}
.round_btn a {
	margin-top: 8px;
}
/* Bannar part end here  */
/* servicess part end here  */
.servicess {
	padding: 60px 0;
}
/* servicess part end here  */
/* explore part start here  */
.explore{
	padding: 60px 0;
}
.explore_item {
	width: 100%;
	padding: 10px;
}
.explore_text h2 {
	font-size: 32px;
	line-height: 57.26px;
}
.explore_text p {
	font-size: 12px;
	line-height: 22.26px;
	width: 259px;
}
.explore_image {
	top: 608px;
}
.explore_image img {
	width: 100%;
}
/* explore part end here  */
/* testimonial part start here  */
.testimonial {
	margin-top: 500px;
	padding: 60px 0;
}
.textimonial_items {
	width: 501px;
	height: 283px;
}
.testimonial_item_text {
	padding-top: 24px;
	padding-left: 17%;
}
.testimonial_item_name h3 {
	font-size: 14px;
	line-height: 3.26px;
}
.testimonial_item_name h6 {
	font-size: 10px;
	line-height: 12.26px;
	padding-top: 7px;
}
.testimonial_item_name img{
	display: none;
}
.textimonial_items_back {
	top: 16%;
	left: 21%;
	width: 352px;
	height: 238px;
}
.testimonial_item_text p {
	font-size: 12px;
	line-height: 15.26px;
	font-style: italic;
	padding-top: 22px;
}
.textimonial_item_img {
	left: -5%;
	width: 90px;
	height: 90px;
}
.textimonial_item_img_circle {
	width: 75px;
	height: 75px;
}

.testimonial_head h2 {
	font-size: 27px;
	line-height: 29.26px;
}
/* testimonial part end here  */
/* adventure part start here  */
.adventure{
	padding: 60px 0;
}
.adventure_item h3::after {
	width: 512px;
	top: 50px;
}
.adventure_item h3 {
	font-size: 18px;
	line-height: 36.26px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.adventure_part h3 {
	font-size: 32px;
	line-height: 41.26px;
}
/* adventure part end here  */
/* connect part end here  */
.connect{
	padding: 60px 0;
}

.connect_part h2 {
	font-size: 28px;
	line-height: 33.26px;
	margin-top: 0;
}
.connect_part p {
	font-size: 13px;
	line-height: 18.26px;
	padding-top: 32px;
}
.top_btn a {
	margin-bottom: 20px;
}
.form {
	width: 580px;
	top: -20;
	left: 50%;
	padding: 20px 20px;
	height: 628px;
	transform: translate(-50%);
}
.form_img {
	display: none;
}
.form h3 {
	font-size: 23px;
	line-height: 28.26px;
}
/* connect part end here  */
/* highlisht part start here  */

.highlisht{
	margin-top: 480px;
}
.highlisht_part h3 {
	font-weight: 500;
	font-size: 25px;
	line-height: 28.26px;
}
.highlisht_part p {
	font-size: 14px;
	line-height: 20.26px;
	margin-top: 0px;
	padding-left: 3px;
}
.highlight_video {
	width: 100%;
}
/* highlisht part end here  */
/* clients part start here  */
.clients {
	padding: 60px 0;
}
.clients_text h2 {
	font-size: 24px;
	line-height: 32.26px;
}
.clients_text p {
	font-size: 14px;
	line-height: 22.26px;
}
.client_items_part {
	flex-direction: row;
}
.client_item {
	margin: 10px 0;
}
.footer_second h3 {
	padding-bottom: 5px;
	margin-top: 40px;
}
/* clients part end here  */
/* Registration part end here  */
.registration_part h3::after {
	display: none;
}
/* Registration part end here  */

/* ======================  Blog page start here ================================== */
.blog_viktor{
	display: none;
}
.blog_viktor_two{
	display: none;
}
.category {
	padding: 44px 0;
}
.blog_category_text h4 {
	font-size: 12px;
	line-height: 13px;
}
.arrival {
	font-size: 12px;
	padding-top: 2px;
}
.blog_category_text h4::after {
	width: 144px;
	height: 1px;
	top: 20px;
}
.arrival::after {
	top: 38px;
}
.blog_category_text h5 {
	font-size: 12px;
	line-height: 15px;
}
.blog_link_img a {
	font-size: 12px;
	padding: 4px 6px;
}
/* ======================  Blog page end here ================================== */
.registration_part h2::after {
	display: none;
}
}


/* --------------------  Medium devices ---------------------- */
@media (min-width:768px)  and (max-width: 991.98px){
	/* Banner start here  */
	/* Bannar  part start here  */
	.banner_overlay{
		padding: 100px 0;
	}
	.banner_text h1 {
		font-weight: 500;
		font-size: 54px;
		line-height: 51.26px;
	}
	.banner_text p {
		font-size: 16px;
		line-height: 21.8px;
		width: 400px;
		padding-top: 10px;
	}
	.round_btn {
		width: 35px;
		height: 35px;
		margin-top: 19px;
	}
	.round_btn a {
		margin-top: 8px;
	}
/* Bannar part end here  */
 /* explore part start here  */
 .explore{
	padding: 60px 0;
}
.explore_item {
	width: 100%;
	padding: 10px;
}
.explore_text h2 {
	font-size: 32px;
	line-height: 57.26px;
}
.explore_text p {
	font-size: 12px;
	line-height: 22.26px;
	width: 259px;
}
.explore_image {
	top: 608px;
	right: 35px;
}
.explore_image img {
	width: 100%;
}

/* explore part end here  */
   /* testimonial part start here  */
   .testimonial {
	margin-top: 600px;
	padding: 60px 0;
}
.textimonial_items {
	width: 691px;
	height: 283px;
}
.testimonial_item_text {
	padding-top: 24px;
	padding-left: 17%;
}
.testimonial_item_name h3 {
	font-size: 14px;
	line-height: 3.26px;
}
.testimonial_item_name h6 {
	font-size: 10px;
	line-height: 12.26px;
	padding-top: 7px;
}
.testimonial_item_name img{
	display: none;
}
.textimonial_items_back {
	top: 16%;
	left: 21%;
	width: 431px;
	height: 238px;
}
.testimonial_item_text p {
	font-size: 12px;
	line-height: 15.26px;
	font-style: italic;
	padding-top: 22px;
}
.textimonial_item_img {
	left: -5%;
	width: 90px;
	height: 90px;
}
.textimonial_item_img_circle {
	width: 75px;
	height: 75px;
}

.testimonial_head h2 {
	font-size: 27px;
	line-height: 29.26px;
}
/* testimonial part end here  */
  /* adventure part start here  */
  .adventure{
	padding: 60px 0;
}
.adventure_item h3::after {
	width: 512px;
	top: 50px;
}
.adventure_item h3 {
	font-size: 18px;
	line-height: 36.26px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.adventure_part h3 {
	font-size: 32px;
	line-height: 41.26px;
}
.adventure_item_text {
	padding-left: 7px;
}
.adventure_item h3::after {
	width: 342px;
}
/* adventure part end here  */
  /* connect part end here  */
  .connect{
	padding: 60px 0;
}

.connect_part h2 {
	font-size: 28px;
	line-height: 33.26px;
	margin-top: 0;
}
.connect_part p {
	font-size: 13px;
	line-height: 18.26px;
	padding-top: 32px;
}
.top_btn a {
	margin-bottom: 20px;
}
.form {
	width: 670px;
	top: -20;
	left: 50%;
	padding: 20px 20px;
	height: 628px;
	transform: translate(-50%);
}
.form_img {
	display: none;
}
.form h3 {
	font-size: 23px;
	line-height: 28.26px;
}
/* connect part end here  */
 /* highlisht part start here  */
    
 .highlisht{
	margin-top: 480px;
}
.highlisht_part h3 {
	font-weight: 500;
	font-size: 25px;
	line-height: 28.26px;
}
.highlisht_part p {
	font-size: 14px;
	line-height: 20.26px;
	margin-top: 0px;
	padding-left: 3px;
}
.highlight_video {
	width: 100%;
}
/* highlisht part end here  */
/* clients part start here  */
.clients {
	padding: 60px 0;
}
.clients_text h2 {
	font-size: 40px;
	line-height: 45.26px;
}
.clients_text p {
	font-size: 14px;
	line-height: 22.26px;
}
.client_items_part {
	flex-direction: row;
}
.client_item {
	margin: 10px 0;
}
.footer_second h3 {
	padding-bottom: 5px;
	margin-top: 40px;
}
/* clients part end here  */
	
	.jobs button{
		padding: 0;
	}
	.top_btn a {
		padding: 5px 5px;
		font-size: 11px;
	}
	/* // Banner part start here  */
	.blog_viktor{
		display: none;
	}
	.blog_viktor_two{
		display: none;
	}
	.blog_viktor {
		left: -343px;
	}
	.blog_viktor_two {
		right: -341px;
	}
	/* // Banner part end here  */
	/* // Blog part start here  */
	.category {
		padding: 61px 0;
	}
	/* // Blog part end here  */
	/* // Registration part end here  */
	.registration_part h3::after {
		width: 310px;
	}
	/* // Registration part end here  */
	.registration_part h2::after {
		display: none;
	}
}
/* --------------------  Medium devices ---------------------- */
/* --------------------  Large devices  ---------------------- */
@media (min-width:992px) and (max-width: 1199.98px) {
   /* navbar start here  */
	.top_btn a {
		padding: 9px 12px;
		font-size: 10px;
	}
	.jobs button{
		font-size: 13px;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		font-size: 13px;
	}
   /* navbar end here  */
   .blog_category_text h4 {
	font-size: 13px;
	}
	.arrival {
		font-size: 13px;
	}
	.blog_category_text a {
		padding: 3px 10px;
		font-size: 13px;
	}
	.blog_category_text h4::after {
		width: 155px;
	}
	.arrival::after {
		width: 91px;
	}
	.blog_category_text h5 {
		font-size: 13px;
	}
	/* Registration part start here  */
	 /* Bannar  part start here  */
	 .banner_overlay{
		padding: 100px 0;
	}
	.banner_text h1 {
		font-weight: 500;
		font-size: 54px;
		line-height: 51.26px;
	}
	.banner_text p {
		font-size: 16px;
		line-height: 21.8px;
		width: 400px;
		padding-top: 10px;
	}
	.round_btn {
		width: 35px;
		height: 35px;
		margin-top: 19px;
	}
	.round_btn a {
		margin-top: 8px;
	}
/* Bannar part end here  */
  /* explore part start here  */
	.explore{
		padding: 60px 0;
	}
	.explore_item {
		width: 100%;
		padding: 10px;
	}
	.explore_text h2 {
		font-size: 32px;
		line-height: 57.26px;
	}
	.explore_text p {
		font-size: 12px;
		line-height: 22.26px;
		width: 259px;
	}
	.explore_image {
		top: 608px;
		right: 35px;
	}
	.explore_image img {
		width: 100%;
	}

/* explore part end here  */
/* testimonial part start here  */
.testimonial {
	margin-top: 600px;
	padding: 60px 0;
}
.textimonial_items {
	width: 425px;
	height: 283px;
}
.testimonial_item_text {
	padding-top: 24px;
	padding-left: 17%;
}
.testimonial_item_name h3 {
	font-size: 14px;
	line-height: 3.26px;
}
.testimonial_item_name h6 {
	font-size: 10px;
	line-height: 12.26px;
	padding-top: 7px;
}
.testimonial_item_name img{
	display: none;
}
.textimonial_items_back {
	top: 16%;
	left: 16%;
	width: 311px;
	height: 238px;
}
.testimonial_item_text p {
	font-size: 12px;
	line-height: 15.26px;
	font-style: italic;
	padding-top: 22px;
}
.textimonial_item_img {
	left: 1%;
	width: 90px;
	height: 90px;
}
.textimonial_item_img_circle {
	width: 75px;
	height: 75px;
}

.testimonial_head h2 {
	font-size: 27px;
	line-height: 29.26px;
}
/* testimonial part end here  */
/* adventure part start here  */
.adventure{
	padding: 60px 0;
}
.adventure_item h3::after {
	width: 512px;
	top: 50px;
}
.adventure_item h3 {
	font-size: 18px;
	line-height: 36.26px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.adventure_part h3 {
	font-size: 32px;
	line-height: 41.26px;
}
.adventure_item_text {
	padding-left: 7px;
}
.adventure_item h3::after {
	width: 342px;
}
/* adventure part end here  */
 /* connect part end here  */
 /* .connect{
	padding: 60px 0;
} */
.form {
	width: 470px;
}
.form_img {
	display: none;
}
/* .connect_part h2 {
	font-size: 28px;
	line-height: 33.26px;
	margin-top: 0;
}
.connect_part p {
	font-size: 13px;
	line-height: 18.26px;
	padding-top: 32px;
}
.top_btn a {
	margin-bottom: 20px;
}
.form {
	width: 670px;
	top: -20;
	left: 50%;
	padding: 20px 20px;
	height: 628px;
	transform: translate(-50%);
}

.form h3 {
	font-size: 23px;
	line-height: 28.26px;
} */
 /* highlisht part start here  */

.highlisht_part h3 {
	font-weight: 500;
	font-size: 25px;
	line-height: 28.26px;
}
.highlisht_part p {
	font-size: 14px;
	line-height: 20.26px;
	margin-top: 0px;
	padding-left: 3px;
}
.highlight_video {
	width: 100%;
}
/* highlisht part end here  */
/* clients part start here  */
.clients {
	padding: 60px 0;
}
.clients_text h2 {
	font-size: 40px;
	line-height: 45.26px;
}
.clients_text p {
	font-size: 14px;
	line-height: 22.26px;
}
.client_items_part {
	flex-direction: row;
}
.client_item {
	margin: 10px 0;
	width: 170px;
}
.footer_second h3 {
	padding-bottom: 5px;
	margin-top: 40px;
}
/* clients part end here  */
	.registration_part h3::after {
		width: 357px;
	}
	/* Registration part end here  */
}
/* --------------------  Large devices ---------------------- */